.body,
.header {
  font-family: "Nunito", sans-serif !important;
}

.mermaid {
  text-align: center;
}

.mermaid-float-right {
  float: right;
  margin-left: 20px;
}

/* Make youtube videos full screen */
iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Round Search Bar */
.md-search__form {
  border-radius: 2em !important;
}
.md-search__output {
  border-radius: 0 0 2em 2em !important;
  margin-top: -2em;
}
.md-search-result {
  padding-top: 2em;
}

/* Grid Layout */
.grid {
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
}

.grid ul {
  margin: 0 !important;
  list-style: none;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2em !important;
}

.grid li {
  margin-left: 0px !important;
  padding: 20px;
  flex: 1 0 45% !important;
  /* border: 1px solid #2e2e2e; */
  border-radius: 10px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  margin: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgba(255, 255, 255, 0.05);
}

.grid-wide li {
  flex: 1 0 100% !important;
}

.grid > ul li:hover {
  box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(0px, -5px);
}

.grid ul li h2 {
  margin: 0px;
  display: block;
  font-weight: 400;
  font-size: 1.2em;
}
.grid ul li > hr {
  margin: 0.5em 0;
}

.grid ul li > p {
  font-weight: 100;
  /* filter:brightness(80%); */
}

.grid ul li img {
  float: left;
  margin-right: 2em;
  width: 30%;
}

/* Grid Gallery */
.grid-gallery {
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
}

.grid-gallery ul {
  margin: 0 !important;
  list-style: none;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2em !important;
}

.grid-gallery li {
  margin-left: 0px !important;
  padding: 0px;
  flex: 1 0 45% !important;
  /* border: 1px solid #2e2e2e; */
  margin: 0;
}
.grid-3 li {
  margin-left: 0px !important;
  padding: 0px;
  flex: 1 0 20% !important;
  /* border: 1px solid #2e2e2e; */
  margin: 0;
}

.grid-gallery ul li img {
  border-radius: 10px;
}

/* HERO area */
.hero {
  padding: 8% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.hero-header h1 {
  font-size: 6em;
  margin: 0px;
  padding: 0px;
  font-weight: 200;
}

.hero-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  /* color:rgb(36, 52, 59); */
}

.hero-columns .column1 {
  padding-right: 2em;
  width: 50%;
}
.hero-columns .column2 {
  width: 50%;
}

.column1 .buttons {
  display: flex;
  justify-items: left;
  gap: 1em;
}
.column1 p {
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.5em;
  /* color: rgb(80, 60, 78) */
}
.column1 span.hl1 {
  color: var(--md-accent-fg-color);
  font-weight: 400;
}
.column1 .buttons {
  display: flex;
  padding-block: 1em;
  font-size: 2em;
}
.column1 .hero-button {
  border: thin solid;
  padding: 1em;
  border-radius: 2em;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.column1 .hero-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
  cursor: pointer;
  letter-spacing: 0.05rem;
}
.column1 .hero-button--primary {
  background-color: var(--md-typeset-a-color);
  border-color: var(--md-typeset-a-color);
  color: white;
}
.column1 .hero-button--primary:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
}

.hero-code {
  /* border: thin solid rgba(255, 255, 255, 0.377); */
  font-size: 1.5em;
  padding: 2em 1.5em;
  background-color: rgb(25, 41, 55);
  border-radius: 16px;
  text-align: left;
  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.7);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-code:hover {
  /* border: thin solid rgba(255, 255, 255, 0.377); */
  box-shadow: 4px 10px 0px rgba(0, 0, 0, 0.7);
  background-color: rgb(30, 45, 58);
  transform: translate(0px, -5px);
}

a.ln {
  color: white;
  border-bottom: thin solid white;
  padding-bottom: 0.2em;
}
.hero-code > code > .kn {
  color: #6791e0;
}
.hero-code > code > .nn {
  color: #c973d9;
}
.hero-code > code > .n {
  color: hsla(232, 18%, 86%, 1);
}
.hero-code > code > .c1 {
  color: hsla(232, 75%, 90%, 0.62);
}
.hero-code > code > .o {
  color: hsla(232, 75%, 90%, 0.62);
}
.hero-code > code > .p {
  color: hsla(232, 75%, 90%, 0.62);
}
.hero-code > code > .s2 {
  color: #2fb170;
}

@media screen and (max-width: 980px) {
  .hero-columns {
    flex-direction: column;
    padding: 0px;
  }
  .hero-columns .column1 {
    margin: 0px;
    width: 100%;
    padding: 0em 0em 2em 0em;
  }
  .hero-columns .column2 {
    padding: 0px;
    width: 100%;
  }
}
